<div class="album">
    <div class="row">
      <div class="col-lg-2">
        <%= render 'shared/categories' %>
      </div>
      <div class="col-lg-9 center">
        <div class="row">
          <%= render 'products/product' %>
        </div>
      </div>
    </div>
  </div>


