  <% @products.each do |product| %>
<div class="col-4">
    <div class="card pt-3">
    <%= image_tag 'http://placekitten.com/300/200', class: "card-img-top" %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to product.name, product, class: "text-decoration-none" %>
          </h4>
            <p class="card-text text-truncate"><%= product.description %></p>
            <p class="badge bg-dark text-light"> <%= number_to_currency(product.price, unit: "USD", separator: ".", delimiter: "", format: "%n %u") %></p>
        </div>
    </div>
</div>
  <% end %>