<div class="container mt-5 pb-5">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'shared/categories' %>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="row">
      <%= render 'products/product' %>
    </div>
  </div>
</div>
