<div class="col-2 flex-shrink-0 p-3 text-white bg-dark">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Shop</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
      <% Category.all.each do |category| %>
      <li class="nav-item">
        <%= link_to category.title, category, class: "nav-link text-white"
        %>
      </li>
      <% end %>
  </ul>
</div>
