<h1>Congratulation!</h1>

<h3>You won our shop lottery!</h3>

<p>You can get any of our items with your personal discount.</p>

<h3>Your personal discount is <%= rand(50..80) %> % </h3>

<p>Have a nice day!</p>